doctype html
html.no-js
    block config-page
    header
      meta(charset='utf-8')
      title Home Page
      meta(name='keywords' content='')
      meta(name='description' content='')
      meta(http-equiv='X-UA-Compatible' content="IE=edge")
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
      meta(property='og:title'  content='TravelMaz - The Only Magazine For Travel')
      meta(property='og:url'  content='http://uat.showdc.co.th')
      meta(property='og:image'  content='http://uat.showdc.co.th/-/media/ShowDC/Attractions/top-attraction-bg.ashx')
      meta(property='og:site_name'  content='ShowDC - A whole new world of entertainment')
      meta(property='og:description'  content='Prepare to be delighted by colourful sights and vibrant experiences found nowhere else in the world.')
      meta(name='twitter:card' content='summary')
      meta(name='twitter:description'  content='Prepare to be delighted by colourful sights and vibrant experiences found nowhere else in the world.')
      meta(itemprop='image'  content='http://uat.showdc.co.th/-/media/ShowDC/Attractions/top-attraction-bg.ashx')
      // Place favicon.ico and apple-touch-icon.png in the root directory
      link(rel="shortcut icon", href="favicon.ico" type="image/x-icon")
      link(rel="apple-touch-icon" , href="apple-touch-icon.png")

      // build:css styles/vendor.css
      // bower:css

      // endbower
      // endbuild

      // build:css styles/main.css
      link(rel='stylesheet' href='assets/css/styles.css')
      // endbuild
      // build:js scripts/vendor/jquery.js
      script(src='assets/js/jquery.js')
      // endbuild

      // build:js scripts/modernizr.js
      script(src='assets/js/modernizr.js')
      // endbuild
    body
        header#header Lorem ipsum dolor sit amet
        main#main Aenean non eleifend magna
        footer#footer Aenean non eleifend magna
