doctype html
html.no-js
    block config-page
    header
      meta(charset='utf-8')
      title Home Page
      meta(name='keywords' content='')
      meta(name='description' content='')
      meta(http-equiv='X-UA-Compatible' content="IE=edge")
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
      meta(property='og:title'  content='TravelMaz - The Only Magazine For Travel')
      meta(property='og:url'  content='http://uat.showdc.co.th')
      meta(property='og:image'  content='http://uat.showdc.co.th/-/media/ShowDC/Attractions/top-attraction-bg.ashx')
      meta(property='og:site_name'  content='ShowDC - A whole new world of entertainment')
      meta(property='og:description'  content='Prepare to be delighted by colourful sights and vibrant experiences found nowhere else in the world.')
      meta(name='twitter:card' content='summary')
      meta(name='twitter:description'  content='Prepare to be delighted by colourful sights and vibrant experiences found nowhere else in the world.')
      meta(itemprop='image'  content='http://uat.showdc.co.th/-/media/ShowDC/Attractions/top-attraction-bg.ashx')
      // Place favicon.ico and apple-touch-icon.png in the root directory
      link(rel="shortcut icon", href="favicon.ico" type="image/x-icon")
      link(rel="apple-touch-icon" , href="apple-touch-icon.png")

      // build:css styles/vendor.css
      // bower:css

      // endbower
      // endbuild

      link(rel='stylesheet' href='assets/css/styles.css')
      script(src='assets/js/jquery.min.js')
      //script(src='assets/js/modernizr.js')
      script(src='assets/js/bootstrap.min.js')
    body
        .container
          header#header
            nav(role="navigation").navbar.navbar-default
              .navbar-header
                button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a(href="#" ).navbar-brand Title
              .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav 
                  li.active: a(href="#") Link
                  li: a(href="#") Link
                form(role="search").navbar-form.navbar-left
                  .form-group 
                    input(type="text", placeholder="Search").form-control
                  button(type="submit").btn.btn-default Submit
                ul.nav.navbar-nav.navbar-right
                  li: a(href="#") Link
                  li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-expanded="false")
                      | Dropdown 
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li: a(href="#") Action
                      li: a(href="#") Another action
                      li: a(href="#") Something else here
                      li: a(href="#") Separated link
          main#main Aenean non eleifend magna
          footer#footer Aenean non eleifend magna
